node_modules
./*/node_modules
./*/*/node_modules

*.DS_Store
.parcel-cache
.vscode
.cache
.babelrc
.parcelrc
.proxyrc.js
certificate.*
package-lock.json
dist
.eslintrc.json
2021/Firebase_pong/config/config.js
2021/Firebase_pong/config.zip
2021/config.js
2021/Firebase_pong/config/config.js
2021/Firebase_pong/config/config.js
2021/template/config/config.js
